---
layout: home
---

<div class="index-content coding">
  <div class="section">
    <ul class="artical-cate">
      <li class="on" style="text-align:center"><a href="/coding"><span>基础</span></a></li>
      <li style="text-align:center"><a href="/life"><span>案例</span></a></li>
      <li style="text-align:center"><a href="/frame"><span>框架</span></a></li>
      <li style="text-align:center"><a href="https://godnew.github.io/cv-gh-pages/"><span>ME</span></a></li>
    </ul>

    <div class="cate-bar"><span id="cateBar"></span></div>

    <ul class="artical-list" id="itemContainer">
      {% for post in site.categories.coding %} {% if {{post.title}} !='Coming Conferences and Activities' %}
      <li>
        <div class="table-article">
          <div class="col-title">
            <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
          </div>
          <div class="col-date">
            <p class="entry-date">{{ post.date|date:"%Y-%m-%d" }}</p>
          </div>
        </div>
        <div class="title-desc">{{ post.description }}</div>
      </li>
      {% endif %} {% endfor %}
    </ul>
      <div class="holder"></div>
      <script>
          $(function(){
              $("div.holder").jPages({
                  containerID : "itemContainer",
                  previous : "←",
                  next : "→",
                  perPage : 5
              });
          });
      </script>

  </div>
  <div class="aside">
  </div>
</div>
